body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-color: #fff;
    color: #202124;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ion-toolbar.header-toolbar {
    --ion-toolbar-color: #202124;
    --ion-toolbar-border-color: transparent;
}

ion-toolbar.header-toolbar ion-icon {
    --ion-color-base: #80868b !important;
}

ion-button.landing-button {
    --ion-color-base: rgba(255, 255, 255, .5) !important;
}

ion-list, ion-item {
    --background: transparent;
    --ion-item-background: rgba(255, 255, 255, .2);
}

a {
    text-decoration: none;
    color: #202124 !important;
}