@font-face {
    font-family: 'ProximaNova';
    src: url('/fonts/ProximaNova-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('/fonts/ProximaNova-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('/fonts/ProximaNova-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('/fonts/ProximaNova-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #202124;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --ion-font-family: 'ProximaNova', sans-serif;
}

ion-toolbar.header-toolbar {
    --ion-toolbar-color: #202124;
    --ion-toolbar-border-color: transparent;
}

ion-toolbar.header-toolbar ion-icon {
    --ion-color-base: #80868b !important;
}

ion-button.landing-button {
    --ion-color-base: rgba(255, 255, 255, .5) !important;
}

ion-list, ion-item {
    --background: transparent;
    --ion-item-background: rgba(255, 255, 255, .2);
}

a {
    text-decoration: none;
    color: #202124 !important;
}
